

<!-- Barra de navegación-->
<header id="topnav" class="defaultscroll scroll-active">
    <!-- Inicio Tagline -->
    <div class="tagline">            
        <div class="container">
            <div class="clearfix"></div>
        </div>

    </div>
    <!-- Fin Tagline-->

    <!-- Inicio Menú -->
    <div class="container">
        <!-- Logo container-->
        <div>
            <a href="index.html" class="logo">
                <img src="./assets/images/logo.png" alt="" class="logo-light" height="40" />
                <img src="./assets/images/logo.png" alt="" class="logo-dark" height="40" />
            </a>
        </div>
        <div class="buy-button">
            <a href="loginreclutador.html" class="btn btn-primary"><i class="mdi mdi-table-edit"></i> Publicar Empleo </a>
        </div> 
        &ensp;             
        <div class="buy-button">
            <a href="loginpostulante.html" class="btn btn-primary"><i class="mdi mdi-cloud-upload"></i> Subir mi CV </a>
        </div><!--Fin boton Cv-->
        <!-- Fin del container del logo-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu -->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- Fin del mobile menu-->
            </div>
        </div>

        <div id="navigation">
            <!-- Menú de Navegación-->   
            <ul class="navigation-menu">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="listaempleos.html">Empleos</a></li>
                <li class="has-submenu">
                    <a href="javascript:void(0)">Mi Cuenta</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="perfilcandidato.html">Mi Perfil</a></li>
                        <li><a href="mispostulaciones.html">Mis Postulaciones</a></li>
                        <li><a href="perfilreclutador.html">Perfil Reclutador</a></li>
                    </ul>
                </li>

                <li>
                    <a href="contactanos.html">Contáctanos</a>
                </li>
            </ul><!--Fin del Menú de navegación-->
        </div><!--Fin de la navegación-->
    </div><!--Fin del container-->
    <!---->
</header>
<!-- Fin del Navbar -->





<!-- Inicio del Home -->
<section class="bg-home" style="background: url('./assets/images/portada6.jpg') center center;">
    <div class="bg-overlay"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="title-heading text-center text-white">
                            <!--
                            <h6 class="small-title text-uppercase text-light mb-3">Kaizen Talent.</h6>
                            -->
                            <h1 class="heading font-weight-bold mb-4">Encuentra empleo en un click</h1>
                        </div>
                    </div>
                </div>
                <div class="home-form-position">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="home-registration-form p-4 mb-3">
                                <form class="registration-form">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6">
                                            <div class="registration-form-box">
                                                <i class="fa fa-briefcase"></i>
                                                <input type="text" id="exampleInputName1" class="form-control rounded registration-input-box" placeholder="Palabras Clave">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="registration-form-box">
                                                <i class="fa fa-location-arrow"></i>
                                                <select id="select-country" class="demo-default">
                                                    <option value="">Ciudad</option>
                                                    <option value="Lima">Lima</option>
                                                    <option value="Arequipa">Arequipa</option>
                                                    <option value="Trujillo">Trujillo</option>
                                                    <option value="Cuzco">Cuzco</option>
                                                    <option value="Piura">Piura</option>
                                                    <option value="Tacna">Tacna</option>
                                                    <option value="Tumbes">Tumbes</option>
                                                    <option value="Iquitos">Iquitos</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="registration-form-box">
                                                <i class="fa fa-list-alt"></i>
                                                <select id="select-category" class="demo-default">
                                                    <option value="">Categorías</option>
                                                    <option value="1">Marketing Digital</option>
                                                    <option value="2">Sistemas de Información & Software</option>
                                                    <option value="3">Ingeniería</option>
                                                    <option value="4">Derecho</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="registration-form-box">
                                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary btn-block" value="Buscar Empleos">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fin del Home -->




<!-- Inicio Categorias -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title title-line pb-5">Categorías</h4>
                    <p class="text-muted para-desc mx-auto mb-1">Encuentra empleos en las distintas categorías que tenemos.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-account d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">Derecho</h5>
                            <p class="text-success mb-0 rounded">120 Empleos</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-desktop-classic d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">Sistemas de Información</h5>
                            <p class="text-success mb-0 rounded">1200 Empleos</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-bank d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">Del Estado</h5>
                            <p class="text-success mb-0 rounded">200 Empleos</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-auto-fix d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">Finanzas</h5>
                            <p class="text-success mb-0 rounded">721 Empleos</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-office-building d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">Construcción</h5>
                            <p class="text-success mb-0 rounded">210 Empleos</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-telegram d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">Telecomunicaciones</h5>
                            <p class="text-success mb-0 rounded">182 Empleos</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-television-classic d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">Diseño y Multimedia</h5>
                            <p class="text-success mb-0 rounded">500 Empleos</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-human d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">Recursos Humanos</h5>
                            <p class="text-success mb-0 rounded">500 Empleos</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 text-center mt-4 pt-2">
                <a href="javascript:void(0)" class="btn btn-primary-outline">Descubre todas las categorías <i class="mdi mdi-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- Fin Categorias -->